<nz-input-group [nzSuffix]="nameSuffixTemplate">
  <input matInput type="text" [value]="name" (keyup)="updateName($event.target.value)"/>
</nz-input-group>
<ng-template #nameSuffixTemplate
  ><i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="name"
    (click)="updateName(null)"
  ></i
></ng-template>

<div>Arrival Time:</div>
<nz-input-group [nzSuffix]="arrivalTSSuffixTemplate">
  <input matInput type="text" [value]="arrivalTimestamp" (keyup)="updateArrivalTimestamp($event.target.value)"/>
</nz-input-group>
<ng-template #arrivalTSSuffixTemplate
  ><i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="arrivalTimestamp"
    (click)="updateArrivalTimestamp(null)"
  ></i
></ng-template>

<div>Leave Time:</div>
<nz-input-group [nzSuffix]="leaveTSSuffixTemplate">
  <input matInput type="text" [value]="leaveTimestamp" (keyup)="updateLeaveTimestamp($event.target.value)"/>
</nz-input-group>
<ng-template #leaveTSSuffixTemplate
  ><i
    nz-icon
    nz-tooltip
    class="ant-input-clear-icon"
    nzTheme="fill"
    nzType="close-circle"
    *ngIf="leaveTimestamp"
    (click)="updateLeaveTimestamp(null)"
  ></i
></ng-template>

<div><button class="mat-raised-button mat-warn" color="warn" (click)="showCheckPointDetail()">Details</button></div>
<!-- <div><button (click)="showCheckPointDetail()">Details</button></div> -->
