<mat-form-field class="chk-pt-info-win-header">
  <input matInput type="text" [value]="name" (keyup)="updateName($event)"/>
  <button mat-button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<div>Arrival Time: 
    <mat-form-field class="chk-pt-info-win-header">
        <input matInput type="text" [value]="arrivalTimestamp" (keyup)="updateArrivalTimestamp($event)" />
    </mat-form-field>
    <button mat-button *ngIf="arrivalTimestamp" matSuffix mat-icon-button aria-label="Clear" (click)="arrivalTimestamp=''">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div>Leave Time: 
    <mat-form-field class="chk-pt-info-win-header">
        <input matInput type="text" [value]="leaveTimestamp" (keyup)="updateLeaveTimestamp($event)" />
    </mat-form-field>
    <button mat-button *ngIf="leaveTimestamp" matSuffix mat-icon-button aria-label="Clear" (click)="leaveTimestamp=''">
      <mat-icon>close</mat-icon>
    </button>
</div>
<div><button class="mat-raised-button mat-warn" color="warn" (click)="showCheckPointDetail()">Details</button></div>
<!-- <div><button (click)="showCheckPointDetail()">Details</button></div> -->